/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/styles//ag-grid.css";
@import "~ag-grid-community/styles//ag-theme-alpine.css";

.is-active {
  font-size: 16px;
  font-weight: bold;
  color: #fff !important;
  border-bottom: 1px dotted #d0d0d0 !important;
  font-style: italic;
}
